<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- generator="FeedCreator 1.7.2" -->
<rss version="0.91" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>Art in America - Most Recent</title>
        <description>The most recent items from Art in America.</description>
        <link>http://www.artinamericamagazine.com</link>
        <lastBuildDate>Mon, 09 Dec 2013 22:35:20 +0100</lastBuildDate>
        <generator>FeedCreator 1.7.2</generator>
        <item>
            <title>Günther Förg, 1952-2013</title>
            <link>http://www.artinamericamagazine.com/news-features/news/gnther-frg-1952-2013/</link>
            <description>&lt;p&gt;G&amp;uuml;nther F&amp;ouml;rg died Dec. 5 at 61. F&amp;ouml;rg was known for his  Modernist-influenced work, which included painting, &amp;nbsp;photography and  sculpture.&lt;/p&gt;</description>
            <author>By Sarah Cascone </author>
            <pubDate>Mon, 09 Dec 2013 18:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/09/img-gunther-forg_175955994889.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Moving Pictures at Art Basel Miami Beach</title>
            <link>http://www.artinamericamagazine.com/news-features/news/moving-pictures-at-art-basel-miami-beach/</link>
            <description>&lt;p&gt;Unlike previous years, video was surprisingly well represented this year  at Art Basel Miami Beach, which is otherwise focused on static objects  for sale.&lt;/p&gt;</description>
            <author>By Paul David Young </author>
            <pubDate>Mon, 09 Dec 2013 17:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/09/img-art-basel-video-1_170446851714.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>Nicole Cherubini</title>
            <link>http://www.artinamericamagazine.com/reviews/nicole-cherubini/</link>
            <description>&lt;p&gt;For years, Nicole Cherubini has been blurring the boundaries between  craft and fine art, decor and sculpture, and expanding those of her main  medium, clay.&lt;/p&gt;</description>
            <author>By Faye Hirsch </author>
            <pubDate>Mon, 09 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-cherubini-_124502397943.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Sarah Anne Johnson Shows Love</title>
            <link>http://www.artinamericamagazine.com/news-features/interviews/sarah-anne-johnson-shows-love/</link>
            <description>&lt;p&gt;Sarah Anne Johnson had just returned from an artist's residency on a  double-masted schooner in the Norwegian territory of the Arctic Circle  when she began materially intervening into her photographs.&lt;/p&gt;</description>
            <author>By Brienne Walsh </author>
            <pubDate>Mon, 09 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/27/img-sarah-anne-johnson-1_151648324559.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>Coming Home to Liberace: Julie Ault’s Collection Returns</title>
            <link>http://www.artinamericamagazine.com/news-features/news/coming-home-to-liberace-julie-aults-collection-returns/</link>
            <description>&lt;p&gt;Now taking over both of Artists Space's locations (Greene Street and  Walker Street) after appearing at the Museum f&amp;uuml;r Gegenwartskunst in  Basel, Switzerland, and Culturgest in Lisbon, Portugal, &quot;Macho Man, Tell It To My Heart&quot; was put  together by a group of curators including Julie Ault, Martin Beck and Danh  Vo.&lt;/p&gt;</description>
            <author>By Matthew Shen Goodman </author>
            <pubDate>Fri, 06 Dec 2013 15:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/06/img-ault-5_115612122039.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>American Folk Art Museum Launches Digital Archive</title>
            <link>http://www.artinamericamagazine.com/news-features/news/american-folk-art-museum-launches-digital-archive/</link>
            <description>&lt;p&gt;Today marks the launch of the American Folk  Art Museum's online archive of the magazine &lt;em&gt;Folk Art&lt;/em&gt; (formerly known as &lt;em&gt;The Clarion&lt;/em&gt;).  The New York museum published 118 issues of the magazine between 1971  and 2008. A widely respected source of scholarship and original research  on American folk art, the publication focused on traditional arts such  as portraiture, painted furniture and pottery, and championed  under-recognized artists.&lt;/p&gt;</description>
            <author>By Sarah Cascone </author>
            <pubDate>Fri, 06 Dec 2013 12:30:00 +0100</pubDate>
            <content:encoded>/files/2013/12/06/img-fam-digital-archive_120247696403.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Outside the Miami Beach Convention Center Walls: NADA, Pérez Museum, Ink</title>
            <link>http://www.artinamericamagazine.com/news-features/news/outside-the-miami-beach-convention-center-walls-nada-prez-museum-ink/</link>
            <description>&lt;p&gt;While much of the attention during Miami Art Week may go to the Art  Basel Miami Beach (ABMB) fair, with its celebrity visitors and millions  of dollars' worth of sales, other fairs and nonprofits are drawing  crowds and offering various art experiences.&lt;/p&gt;</description>
            <author>By Brian Boucher </author>
            <pubDate>Fri, 06 Dec 2013 10:30:00 +0100</pubDate>
            <content:encoded>/files/2013/12/06/img-nada-ben-sansbury_105102539607.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>John Houck </title>
            <link>http://www.artinamericamagazine.com/reviews/john-houck-/</link>
            <description>&lt;p&gt;For&lt;em&gt; &lt;/em&gt;his second solo show in New York,&lt;em&gt; &quot;&lt;/em&gt;A History of Graph  Paper,&quot; Los Angeles-based artist John Houck exhibited eight framed,  medium-scale color images of artifacts from his youth, including  shoeboxes, a stamp collection, crystal glasses and a beaded necklace.&lt;/p&gt;</description>
            <author>By Aimee Walleston </author>
            <pubDate>Fri, 06 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-houck_124448618580.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Hammers and Crickets: A Little Night Music in Miami</title>
            <link>http://www.artinamericamagazine.com/news-features/news/sledgehammers-and-crickets-a-little-night-music-in-miami/</link>
            <description>&lt;p&gt;On the evening prior to the opening of this year's Art Basel Miami Beach fair, New York's Public Art Fund premiered four commissioned works in Collins Park, located in front of the Bass Museum of Art.&amp;nbsp; Performances by David Colman, Mungo Thomson and Kate Gilmore occurred simultaneously, while Olaf Breuning's piece kicked off at the end of the night.&lt;/p&gt;</description>
            <author>By Paul David Young </author>
            <pubDate>Thu, 05 Dec 2013 17:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/05/img-pdy-1_162503697785.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>Long-Time Dealer Barry Friedman to Retire in March</title>
            <link>http://www.artinamericamagazine.com/news-features/news/long-time-dealer-barry-friedman-to-retire-in-march/</link>
            <description>&lt;p&gt;After 41 years in business, Chelsea gallery Barry Friedman Ltd. will  shutter in late March. Owner Barry Friedman is retiring, bringing to  close a nearly 50-year career as an art dealer. A three-day Christie's  auction, &quot;Barry Friedman, The Eclectic Eye,&quot; will coincide with the  gallery's last days.&lt;/p&gt;</description>
            <author>By Sarah Cascone </author>
            <pubDate>Thu, 05 Dec 2013 16:45:00 +0100</pubDate>
            <content:encoded>/files/2013/12/04/img-friedman_173757545984.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Julia Kaganskiy Appointed Director of New Museum Incubator</title>
            <link>http://www.artinamericamagazine.com/news-features/news/julia-kaganskiy-appointed-director-of-new-museum-incubator/</link>
            <description>&lt;p&gt;Julia Kaganskiy has been named director of the New Museum's Incubator  for Art, Technology, and Design. Set to open in the summer of 2014, the  incubator will host some 60 full- and part-time members, to be recruited  by Kaganskiy. In exchange for a monthly fee, members will receive  workspaces and support services.&lt;/p&gt;</description>
            <author>By Matthew Shen Goodman </author>
            <pubDate>Thu, 05 Dec 2013 10:30:00 +0100</pubDate>
            <content:encoded>/files/2013/12/05/img-new-mu-incubator-director_102902880989.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Claudia Wieser</title>
            <link>http://www.artinamericamagazine.com/reviews/claudia-wieser/</link>
            <description>&lt;p&gt;For her second solo show in New York, Claudia Wieser papered some of the  gallery's walls and a portion of the floor with collages of digital  prints.&lt;/p&gt;</description>
            <author>By Matthew Nichols </author>
            <pubDate>Thu, 05 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-wieser_124354898873.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Competition and Sales Brisk at ABMB Preview</title>
            <link>http://www.artinamericamagazine.com/news-features/news/competition-and-sales-brisk-at-abmb-preview/</link>
            <description>&lt;p&gt;During the early hours of the VIP preview at Art Basel Miami Beach  today, rapper Sean Combs, dressed in all black and wearing shades, was  seen browsing the aisles with his entourage. Most art-fair purchases are  not cash and carry. But Combs was seen leaving the fair holding a  photographic print by an unidentified artist above his head like a  trophy as a scrum of photographers snapped pictures.&lt;/p&gt;</description>
            <author>By Brian Boucher </author>
            <pubDate>Wed, 04 Dec 2013 18:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/04/img-art-basel-miami-beach_173650929470.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>Okwui Enwezor Will Curate the 2015 Venice Biennale </title>
            <link>http://www.artinamericamagazine.com/news-features/news/okwui-enwezor-will-curate-the-2015-venice-biennale-/</link>
            <description>&lt;p&gt;Okwui Enwezor has been named director of the 56th edition of the Venice Biennale, slated to open in May of 2015. The Nigerian-born writer, editor and curator, age 50, has held the post of director at Munich's Haus der Kunst since 2011.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</description>
            <author>By Vyoma Venkataraman </author>
            <pubDate>Wed, 04 Dec 2013 16:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/04/img-okwui-enwezor-_15113926159.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Omar Kholeif Hired as Curator at Whitechapel Gallery</title>
            <link>http://www.artinamericamagazine.com/news-features/news/omar-kholeif-hired-as-curator-at-whitechapel-gallery/</link>
            <description>&lt;p&gt;London's Whitechapel Gallery has hired author and curator Omar Kholeif  as curator. Kholeif, who will start his new job in January, has held  curatorial positions at a number of institutions, and co-curated the  2012 Liverpool Biennial.&amp;nbsp;&lt;/p&gt;</description>
            <author>By Sarah Cascone </author>
            <pubDate>Wed, 04 Dec 2013 14:30:00 +0100</pubDate>
            <content:encoded>/files/2013/12/04/img-omar_141814526994.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Anti-Oedipus: Pope.L’s “Cage Unrequited”</title>
            <link>http://www.artinamericamagazine.com/news-features/news/anti-oedipus-popelrsquos-ldquocage-unrequitedrdquo/</link>
            <description>&lt;p&gt;Patriarchy and fathers are neither synonymous nor mutually exclusive;  confronting either is difficult. Pope.L (who has recently dropped  &quot;William&quot; from his moniker) addressed both in&amp;nbsp;&lt;em&gt;Cage Unrequited&lt;/em&gt;,&lt;em&gt; &lt;/em&gt;staged  recently at New York's Clemente Soto V&amp;eacute;lez Cultural and Educational  Center. The performance was part of both Performa 13 and the two-venue  exhibition &quot;Radical Presence: Black Performance in Contemporary Art&quot;&lt;em&gt; &lt;/em&gt;(at New York University's Grey Art Gallery, through Dec. 7, and the Studio Museum in Harlem, through Mar. 9&lt;em&gt;).&lt;/em&gt;&amp;nbsp;&lt;/p&gt;</description>
            <author>By Catherine Damman </author>
            <pubDate>Wed, 04 Dec 2013 14:15:00 +0100</pubDate>
            <content:encoded>/files/2013/12/04/img-pope-l_14051217155.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Barnes Foundation’s Derek Gillman to Step Down in January</title>
            <link>http://www.artinamericamagazine.com/news-features/news/barnes-foundationrsquos-derek-gillman-to-step-down-in-january/</link>
            <description>&lt;p&gt;Derek Gillman, the executive director and  president of Philadelphia's Barnes Foundation, is leaving his post as of  Jan. 1 to join Drexel University's Antoinette Westphal College of Media  Arts &amp;amp; Design (also in Philadelphia) as a distinguished visiting professor.&lt;/p&gt;</description>
            <author>By Sarah Cascone </author>
            <pubDate>Wed, 04 Dec 2013 11:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/04/img-gillman_110307445985.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Joanna Malinowska</title>
            <link>http://www.artinamericamagazine.com/reviews/joanna-malinowska/</link>
            <description>&lt;p&gt;The Polish-born, New York-based Joanna Malinowska's third solo  exhibition at Canada takes its name from Shakespeare&amp;mdash;&quot;A Hawk from a  Handsaw&quot; originates in &lt;em&gt;Hamlet&lt;/em&gt;, wherein the Prince of Denmark declares he's &quot;but mad north-north-west.&lt;/p&gt;</description>
            <author>By Matthew Shen Goodman </author>
            <pubDate>Wed, 04 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-malinowska_124409425812.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>DIA Responds to Bankruptcy Eligibility News</title>
            <link>http://www.artinamericamagazine.com/news-features/news/dia-responds-to-bankruptcy-eligibility-news/</link>
            <description>&lt;p&gt;The fate of the Detroit Institute of Arts' collection remains uncertain  now that the city of Detroit has been deemed eligible to file for  Chapter 9 Bankruptcy. The DIA responded to today's ruling from Judge  Steven Rhodes by issuing a statement opposing the efforts of city  creditors to sell artwork from its collection.&lt;/p&gt;</description>
            <author>By Sarah Cascone </author>
            <pubDate>Tue, 03 Dec 2013 18:00:00 +0100</pubDate>
            <content:encoded>/files/2013/08/06/img-christies-will-appraise-detroit-institute-of-arts-collection_112946379391.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Morgan Fisher</title>
            <link>http://www.artinamericamagazine.com/reviews/morgan-fisher/</link>
            <description>&lt;p&gt;From his structural films of the 1960s and '70s through his  architectural painting installations begun in the '90s, Santa  Monica-based artist Morgan Fisher has continuously probed the nature of  perception and representation.&lt;/p&gt;</description>
            <author>By Diana Kamin </author>
            <pubDate>Tue, 03 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-fisher_124330219380.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Ad Reinhardt, From Canvases to Cartoons: Interview with Rob Storr </title>
            <link>http://www.artinamericamagazine.com/news-features/interviews/ad-reinhardt-from-canvases-to-cartoons-interview-with-rob-storr-/</link>
            <description>&lt;p&gt;You have to wonder how Ad Reinhardt would feel about his current show,  at David Zwirner's 20th Street location in New York, with its walls and  vitrines filled with several decades' worth of the artist's cartoons and  illustrations (through Dec. 18).&lt;/p&gt;</description>
            <author>By Jessica Dawson </author>
            <pubDate>Tue, 03 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/27/img-reinhardt-ad-comic-2_103736180534.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>Laure Prouvost Wins 2013 Turner Prize </title>
            <link>http://www.artinamericamagazine.com/news-features/news/laure-prouvost-wins-2013-turner-prize-/</link>
            <description>&lt;p&gt;The 2013 Turner Prize goes to French artist and filmmaker Laure  Prouvost. She will receive an award of nearly $41,000, while runners up  Tino Sehgal, David Shrigley and Lynette Yiadom-Boakye will each win just  over $8,000.&lt;/p&gt;</description>
            <author>By Sarah Cascone </author>
            <pubDate>Mon, 02 Dec 2013 15:40:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-laure-prouvost_145857409861.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Rob Pruitt 2013 Art Awards Revealed in A.i.A. December Issue</title>
            <link>http://www.artinamericamagazine.com/news-features/news/rob-pruitt-2013-art-awards-revealed-in-aia-december-issue/</link>
            <description>&lt;p&gt;The December issue of &lt;em&gt;A.i.A. &lt;/em&gt;hosts the Rob Pruitt Art Awards, a partly tongue-in-cheek celebration of artists, exhibitions and curators, founded by the New York-based artist in 2009.&lt;/p&gt;</description>
            <author>By Brian Boucher </author>
            <pubDate>Mon, 02 Dec 2013 14:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-rob-pruitt-portrait_122904976951.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Inside the Art Bars</title>
            <link>http://www.artinamericamagazine.com/news-features/magazine/art-bars/</link>
            <description>&lt;p&gt;Bars have been as essential to the New York art world as its galleries and museums. Eleven artists reflect on the downtown institutions where creative inspiration could flow as freely as the drinks.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</description>
            <author>By Elizabeth C. Baker </author>
            <pubDate>Mon, 02 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/26/img-art-bars_195200566018.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Saved by the Bell</title>
            <link>http://www.artinamericamagazine.com/news-features/magazine/muse-alex-israel/</link>
            <description>&lt;p&gt;When it comes to &quot;Saved by the Bell,&quot; the Disney Channel/NBC sitcom that ran from 1989 to '93, I was a believer.&lt;/p&gt;</description>
            <author>By Alex Israel </author>
            <pubDate>Mon, 02 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/26/img-alex-israel_194301983197.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Ninth Bienal Do Mercosul</title>
            <link>http://www.artinamericamagazine.com/reviews/ninth-bienal-do-mercosul/</link>
            <description>&lt;p&gt;Perched on a cluster of sun-bleached rocks that barely protrudes from  the Gua&amp;iacute;ba Lake&amp;mdash;or river, depending on whom you ask&amp;mdash;a former prison for  political dissenters and other miscreants steadily erodes, turning from  bastion of Brazil's Department of Political and Social Order into a  modern-day ruin.&lt;/p&gt;</description>
            <author>By Alexander Provan </author>
            <pubDate>Mon, 02 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/12/02/img-mercosul_103427316603.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Hot Shows, One Click</title>
            <link>http://www.artinamericamagazine.com/news-features/magazine/hot-shows-one-click/</link>
            <description>&lt;p&gt;Forrest Nash of Contemporary Art Daily reveals the workings of his tastemaker website.&amp;nbsp;&lt;/p&gt;</description>
            <author>By Rob Pruitt </author>
            <pubDate>Mon, 02 Dec 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/27/img-pruitt-nash-1_112758398518.jpg_wide_hthumb.jpg</content:encoded>
        </item>
        <item>
            <title>Kairos in the Square: Raqs Media Collective</title>
            <link>http://www.artinamericamagazine.com/news-features/news/kairos-in-the-square-raqs-media-collective/</link>
            <description>&lt;p&gt;After one gingerly made one's way through a stand of potted lemon trees  and entered into the belly of a transformed Connelly Theater, in New  York's East Village, it became clear that the &quot;celebratory performance&quot;  staged by Raqs Media Collective (Nov. 21-23) was well under way.&lt;/p&gt;</description>
            <author>By Nate Cohan </author>
            <pubDate>Wed, 27 Nov 2013 11:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/26/img-raqs_123622923776.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Michel de Broin</title>
            <link>http://www.artinamericamagazine.com/reviews/michel-de-broin/</link>
            <description>&lt;p&gt;There's a dizzy logic to the work of Montreal artist Michel de Broin. Take, for instance, his sculpture&lt;em&gt;R&amp;eacute;volution&lt;/em&gt;, a maquette version of which opened his recent survey exhibition at the MACM.&amp;nbsp;&lt;/p&gt;</description>
            <author>By Bryne McLaughlin </author>
            <pubDate>Wed, 27 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/10/22/img-20-michel-de-broin_10351538106.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title> Lyon Biennale</title>
            <link>http://www.artinamericamagazine.com/reviews/lyon-biennale/</link>
            <description>&lt;p&gt;The 12th installment of the Lyon Biennale, titled &quot;Meanwhile . . . Suddenly and Then,&quot; is the third and last to address the theme of &quot;transmission.&quot;&lt;/p&gt;</description>
            <author>By David Ebony </author>
            <pubDate>Wed, 27 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/10/22/img-21b-lyon-biennale_103732662337.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Gitte Schäfer</title>
            <link>http://www.artinamericamagazine.com/reviews/gitte-schafer/</link>
            <description>&lt;p&gt;A new direction in Gitte Sch&amp;auml;fer's work was evident in &quot;Stellio,&quot; her second solo exhibition at Lullin + Ferrari.&amp;nbsp;&lt;/p&gt;</description>
            <author>By Aoife Rosenmeyer </author>
            <pubDate>Wed, 27 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/10/22/img-22-gitte-schaefer_103823659629.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>John Stezaker</title>
            <link>http://www.artinamericamagazine.com/reviews/john-stezaker/</link>
            <description>&lt;p&gt;Since the 1960s, artists taking photography as their medium have often found it limited by a lack of material specificity, and have attempted to redress this imbalance by stressing the medium's substantiality over its ability to generate illusion. British artist John Stezaker, now in his 60s, makes most such attempts appear laboriously didactic.&amp;nbsp;&lt;/p&gt;</description>
            <author>By Mark Prince </author>
            <pubDate>Wed, 27 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/10/22/img-23-john-stezaker_10392162641.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Vasudha Thozhur and Himmat</title>
            <link>http://www.artinamericamagazine.com/reviews/vasudha-thozhur-and-himmat/</link>
            <description>&lt;p&gt;In the spring of 2002, up to 2,000 Muslims were killed and some 150,000 displaced in a rash of Hindu-led riots&amp;mdash;allegedly carried out in retaliation for a train fire reportedly set by Muslims&amp;mdash;in the western Indian state of Gujarat. Shortly thereafter, social activists Monica Wahi and Zaid Ahmed Shaikh founded Himmat (Courage).&amp;nbsp;&lt;/p&gt;</description>
            <author>By Ryan Holmberg </author>
            <pubDate>Wed, 27 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/10/22/img-24-himmat-and-thozhur_104005302566.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Tomoaki Ishihara </title>
            <link>http://www.artinamericamagazine.com/reviews/tomoaki-ishihara/</link>
            <description>&lt;p&gt;Tomoaki Ishihara has been an important, cutting-edge&lt;strong&gt;&amp;nbsp;&lt;/strong&gt;artist since the 1980s.&lt;/p&gt;</description>
            <author>By Janet Koplos </author>
            <pubDate>Wed, 27 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/cms/app/asset/action.php?a=createImage&amp;id=22838&amp;size_suffix=standalone</content:encoded>
        </item>
        <item>
            <title>On the Road Again with Olivier Mosset</title>
            <link>http://www.artinamericamagazine.com/news-features/interviews/on-the-road-again-with-olivier-mosset/</link>
            <description>&lt;p&gt;Swiss-born, Tucson-based conceptual artist Olivier Mosset has come to  New York this fall to present his latest round of collaborations in two  group exhibitions.&lt;/p&gt;</description>
            <author>By Sarah S. King </author>
            <pubDate>Wed, 27 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/26/img-olivier-mosset-at-the-kitchen_171336169508.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Armory Show 2014 Exhibitor List Announced</title>
            <link>http://www.artinamericamagazine.com/news-features/news/armory-show-2014-exhibitor-list-announced/</link>
            <description>&lt;p&gt;The exhibitor list has been announced for the 16th edition of the Armory  Show art fair, to be held on Piers 92 and 94 on Manhattan's West Side  (Mar. 6-9).&lt;/p&gt;</description>
            <author>By Brian Boucher </author>
            <pubDate>Tue, 26 Nov 2013 12:20:00 +0100</pubDate>
            <content:encoded>/files/2009/03/01/img-armorycal_201958720365.png_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Five Days Worth of Clifford Owens</title>
            <link>http://www.artinamericamagazine.com/news-features/news/five-days-worth-of-clifford-owens/</link>
            <description>&lt;p&gt;Clifford Owens's &quot;Five Days&quot; was an ambitious undertaking, if for no  other reason than that it occurred on five successive evenings, Nov. 18  to 22, in performances lasting from one to two hours each.&lt;/p&gt;</description>
            <author>By Paul David Young </author>
            <pubDate>Tue, 26 Nov 2013 12:10:00 +0100</pubDate>
            <content:encoded>/files/2013/11/26/img-clifford-owens_120118476024.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Gaston Lachaise</title>
            <link>http://www.artinamericamagazine.com/reviews/gaston-lachaise/</link>
            <description>&lt;p&gt;There is a dark, psychosexual underside to the work of sculptor Gaston Lachaise (1882-1935), familiar for his many outsize female nudes scattered in museums across the U.S.&amp;nbsp;&lt;/p&gt;</description>
            <author>By Sue Taylor </author>
            <pubDate>Tue, 26 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/10/22/img-19-lachaise-_103439879051.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Rearranging with Isaac Julien</title>
            <link>http://www.artinamericamagazine.com/news-features/interviews/rearranging-with-isaac-julien/</link>
            <description>&lt;p&gt;No sooner had the British filmmaker and installation artist Isaac Julien  entered New York's Museum of Modern Art one morning last week than he  was single-handedly heaving a hulking ottoman across the atrium floor.&lt;/p&gt;</description>
            <author>By Emily Leisz Carr </author>
            <pubDate>Tue, 26 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/files/2013/11/26/img-isaac-julien_120659972239.jpg_standalone.jpg</content:encoded>
        </item>
        <item>
            <title>Diem Chau</title>
            <link>http://www.artinamericamagazine.com/reviews/diem-chau/</link>
            <description>&lt;p&gt;Born in Saigon in 1979, Diem Chau arrived in the U.S. at age seven and has lived in Seattle for the past 27 years.&lt;/p&gt;</description>
            <author>By Matthew Kangas </author>
            <pubDate>Mon, 25 Nov 2013 00:00:00 +0100</pubDate>
            <content:encoded>/cms/app/asset/action.php?a=createImage&amp;id=22830&amp;size_suffix=standalone</content:encoded>
        </item>
    </channel>
</rss>
