<?xml version='1.0' encoding='utf-8'?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0"> 
	<channel> 
		<title><![CDATA[Fire brigade to charge £350 for each lift rescue after it performs 6,430 in year - London - News - London Evening Standard]]></title> 
		<description></description> 
		<link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
		<pubDate>Mon, 07 Oct 2013 06:43:33 GMT</pubDate> 

        
		            <item> 
			            <title><![CDATA[By: anarchist666]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>fe86dde970cc4d469f571dade6bfadd0</guid> 
			            <pubDate>Tue, 08 Oct 2013 09:59:54 GMT</pubDate> 
			            <description><![CDATA[Lift companies make a great deal of money on their service contracts, and ought to provide an emergency service. On the other hand, there surely must be some technology whereby a lift can go into a default position and release its occupants?]]></description> 
			            <dc:creator><![CDATA[anarchist666]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anon]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>bd97e7e68e044619b605754b9c248b39</guid> 
			            <pubDate>Tue, 08 Oct 2013 10:06:35 GMT</pubDate> 
			            <description><![CDATA[Often the lifts are stuck either between floors. You wouldn&#39;t want a lift door opening automatically in this instance as there could be all sorts of ways to injure or kill yourself if you tried to exit in this scenario. Power needs to be turned off to the lift before any release attempt or you risk the lift mechanism engaging while the occupant is in the middle of exiting. This is very simple knowledge a firefighter gains on the job. But, as with most things we are expected to do, people think there&#39;s easier and cheaper options available. Not true.]]></description> 
			            <dc:creator><![CDATA[Anon]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anon]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>65e2010d39d64da5b8caa4a3f6dfd90f</guid> 
			            <pubDate>Mon, 07 Oct 2013 16:35:16 GMT</pubDate> 
			            <description><![CDATA[As a serving firefighter I have attended many shut in lift calls over the years. The majority are routine releases. However I have also attended these calls where the occupants are in an extreme state of distress and some where a collapse has occurred and an ambulance was required. Equally I have attended many fire alarms where they have sounded for no fathomable reason. But I have also attended when a fire has been detected and property/lives have needed saving. And again I have attended calls for the simple reason that smoke is in the vicinity of an area. Mostly this is a BBQ or controlled bonfire, however these have also been house or flat fires which have also resulted in the rescue of people. The point I am trying to make here is the Fire Brigade needs to respond to each 999 call in the same professional manner WITH THE SAME RESOURCES EACH TIME. The cuts to personnel, stations and appliances which are happening in January 2014 will affect how YOU receive our service. Just because you have a smoke alarm fitted please dont fall for the government&#39;s spin that you won&#39;t need us. People trapped in lifts for hours, waiting for a lift management company to attend, is not the way forward. ]]></description> 
			            <dc:creator><![CDATA[Anon]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>74ad54e0e2824842b2e0714e9cb12f1e</guid> 
			            <pubDate>Mon, 07 Oct 2013 19:02:48 GMT</pubDate> 
			            <description><![CDATA[Thank you for providing a view from the ACTUAL people that have to deal with these problems.  I would just like to say that you do a fantastic job but are being sold down the river by your political masters]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: steveM]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>842a9fc8a1874c89a778e415ff3fe562</guid> 
			            <pubDate>Mon, 07 Oct 2013 15:18:55 GMT</pubDate> 
			            <description><![CDATA[Shouldn&#39;t a stuck lift be the responsibility of the lift service company. If I&#39;m not mistaken most alarms on lifts go straight to the lift service companies control room anyway.]]></description> 
			            <dc:creator><![CDATA[steveM]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: tom]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>9988497730144c9c940e46209760da70</guid> 
			            <pubDate>Mon, 07 Oct 2013 22:16:46 GMT</pubDate> 
			            <description><![CDATA[untill recently we attended EVERY stuck in lift on the bell which meant we had to attend within our call time of 6 mins. we now attend off the bells unless the person trapped has stated they have a medical emergency. there have recently been cases highlighted in the media how people including children have been stuck in lifts for a couple of hours waiting for lift engineers that have NO responce times to turn up and release them. this is what people in the future will come to expect when stuck in a lift, and i for one think it&#39;s disgusting!!! it&#39;s more cut backs to the service we provide to the public to excuse the cuts to the service. stop attending stuck in lifts we can cut the service back a bit. we used to send 2 appliances to fire alarms. now we only send 1 and then if it is actually alight we have to radio through for more appliances before we can tackle the fire. result, less AFA&#39;s attended by fire engines, less fire engines needed. well, unless the building IS alight like the one we had the other day and then they are needed. but unfortunately they won&#39;t be there!! we could stop attending fires altogether and then statistics would show we aren&#39;t needed at all and every station and fire engine could be got rid of. it&#39;s how tories take figures bend them around to suit their own ends and then sell a load of closures and cuts to YOU the public protending to be doing you a favour. they&#39;ve always done it, it&#39;s why none of our services are anywhere near as effective as they started out and most are barely functioning.!!!]]></description> 
			            <dc:creator><![CDATA[tom]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>2e14d41c2f5a4b7d9a9d267a09b6cd43</guid> 
			            <pubDate>Tue, 08 Oct 2013 06:22:21 GMT</pubDate> 
			            <description><![CDATA[Trouble is now everyone will say they have a medical emergency like asthma brought on by claustrophobia etc just like they said oh I thought I&#39;d left a chip pan on to make it a fire emergency when the brigade started charging for people locked out.

Unfortunately people today will always try and get out of paying for anything if they can even situations that are caused by themselves.  No-one takes responsibility for their actions any more.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: tom]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>39787200d9574f41a082917a22386b21</guid> 
			            <pubDate>Tue, 08 Oct 2013 08:53:24 GMT</pubDate> 
			            <description><![CDATA[i accept that people should take some responsability for their actions at times, but then it&#39;s not the old lady&#39;s fault for getting stuck in the lift, or the mum with kids and shopping, yet they&#39;ll have to take the punishment. not right is it? we are an emergency service trained to rescue people from all kinds situations. some are self inflicted, some are the fault of other people and sometimes people need rescuing when no one is to blame. but it&#39;s nice to know that when you need help, whoevers fault it is, someone is always there to get you out of trouble. and it doesn&#39;t even cost that much for the comfort of knowing that. something like &#163;40 odd per year per household. but politicians are taking that comfort away, teling you all you don&#39;t need it and cutting your council tax by just 7p per week. no one wants it, it isn&#39;t right, it&#39;s yet another tory disgrace. and as for everyone stuck in lifts saying they have asthma to get out quicker, you&#39;re right they will, and i must say i don&#39;t blame them. they shouldn&#39;t have to lie to get the service they&#39;ve always had in the past, but if that&#39;s what boris wants so be it. i would recoment to anyone stuck in a lift to do the same, or you could be waiting in there for a very long time. i know i will say i&#39;m having an asthma attack if i get stuck in a lift. same as i tell the doctors receptionist it&#39;s an emergency if i need to see a doctor. you have to lie because the services have been cut back so much that you now have no choice. lie or no one will come, lie or no one will see you!!! ]]></description> 
			            <dc:creator><![CDATA[tom]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>6795f17ea5ac4bbfad4082a923321ce4</guid> 
			            <pubDate>Mon, 07 Oct 2013 14:14:54 GMT</pubDate> 
			            <description><![CDATA[Looks like then tories are preparing the Fire Service for privatisation.  They are in the process of closing fire stations because they argue that not so many are needed due to a reduction in the number of call-outs, now this.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>b2060e68947348a1977bfbea2a540353</guid> 
			            <pubDate>Mon, 07 Oct 2013 14:29:09 GMT</pubDate> 
			            <description><![CDATA[that would be full circle. Fire brigades were once owned by insurance companies - and only put out fires at insured properties!]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: daisydoo]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>bdbb87ffad6b467dbb15416af56ed2a9</guid> 
			            <pubDate>Mon, 07 Oct 2013 14:40:47 GMT</pubDate> 
			            <description><![CDATA[That&#39;s entirely consistent with the Victorian rhetoric that the Tories are spouting.]]></description> 
			            <dc:creator><![CDATA[daisydoo]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: steveM]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>fdaa4eb5b3db4779946afa1a5820bb49</guid> 
			            <pubDate>Mon, 07 Oct 2013 23:02:29 GMT</pubDate> 
			            <description><![CDATA[I fear you are right and it will be G4S, SERCO  and Capita running the show. SHUDDER!!! It will be a disaster.]]></description> 
			            <dc:creator><![CDATA[steveM]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: daisydoo]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>ef286626a8c94a75963f856f1ccdcb30</guid> 
			            <pubDate>Mon, 07 Oct 2013 10:22:13 GMT</pubDate> 
			            <description><![CDATA[It is wasteful for the fire service to be involved in so many non-urgent call outs - particularly as they seem incapable of sending a small crew to attend any event - but who determines what is urgent? Being stuck in a lift many floors above ground is a frightening prospect for many people. This &#39;robbing Peter to pay Paul&#39; idea is yet another tax that local councils (and us taxpayers) will be forced to incur.]]></description> 
			            <dc:creator><![CDATA[daisydoo]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>b7b554237c6c4929b8667c5013e29f72</guid> 
			            <pubDate>Tue, 08 Oct 2013 06:26:51 GMT</pubDate> 
			            <description><![CDATA[The fire brigade are not incapable of sending a small crew to attend any incident.  So say you are in a building in which the smoke alarm has gone off, the brigade by what you say should be saying oh just send two firemen along as it&#39;s only another smoke alarm.  I think I&#39;d rather pay a bit more council tax thanks to ensure that the standard crew of 5 or 6 turn up to that building as if there is a fire then that amount of men is needed to effect a your rescue and also at the same time to start water pumping to prevent further damage from fire where possible.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>814c123b1ec947df95ce3d503cdfad4e</guid> 
			            <pubDate>Mon, 07 Oct 2013 10:19:38 GMT</pubDate> 
			            <description><![CDATA[It&#39;s about time the fire service started charging for attending false fire alarms,barely a week goes by without fire engines going to my local hospital.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>afcf878dcb894252b967ac23758ebc1b</guid> 
			            <pubDate>Mon, 07 Oct 2013 14:30:51 GMT</pubDate> 
			            <description><![CDATA[They do charge for false alarms already. (Not sure if they charge the NHS - that would be the taxpayer charging the taxpayer, so somewhat pointless). ]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>a044f1612ba5422f9df0c0f00efb53fd</guid> 
			            <pubDate>Mon, 07 Oct 2013 15:38:38 GMT</pubDate> 
			            <description><![CDATA[So they won&#39;t be charging the council that owns the offending lifts in the article above then ?]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>3e538a4c0f854d65a74b1bba6bfc2785</guid> 
			            <pubDate>Mon, 07 Oct 2013 16:27:57 GMT</pubDate> 
			            <description><![CDATA[Every part of the public sector has a fiduciary duty to protect/maximise its budget,if that means charging other parts of the public sector for their failings so be it.
Why should the fire service budget suffer cuts to its minuscule (compared to the NHS ) and lose stations and fire engines just because others cannot manage their own organisations responsibilities.
]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>0a94373055e84b5eb6c4b79483ad6a8d</guid> 
			            <pubDate>Mon, 07 Oct 2013 07:14:07 GMT</pubDate> 
			            <description><![CDATA[Does it really cost &#163;350 each time the fire engine goes out of the fire station?
I feel bad now for getting the brigade round to fit a free smoke alarm for my flat as you definitely could not classify that as an emergency.
The smoke alarm could have been bought for less than &#163;5 at a DIY store and stuck up by one person,so why the brigade sent an engine full of firemen to do it seems strange when compared against their drive to cut the number of non emergency call outs!]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>04d4851078484a7eb6b03eec0c49a705</guid> 
			            <pubDate>Mon, 07 Oct 2013 07:58:14 GMT</pubDate> 
			            <description><![CDATA[The fire brigade attend 70,000 private homes a year to fit smoke alarms.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: anarchist666]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>31b00321dd9c421e9b8896f9ebd68bf1</guid> 
			            <pubDate>Mon, 07 Oct 2013 08:02:49 GMT</pubDate> 
			            <description><![CDATA[Maybe your house insurance will depend upon the professional installation of the alarm? I don&#39;t have a problem with the Fire Service charging for non-fire-related incidents. RNLI should also charge when it&#39;s a self-inflicted emergency!]]></description> 
			            <dc:creator><![CDATA[anarchist666]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>4ee4ee44e1954e938f62e3fce187bae2</guid> 
			            <pubDate>Mon, 07 Oct 2013 08:10:05 GMT</pubDate> 
			            <description><![CDATA[Unbelievable / Only in the UK . Sure maybe the elderly may struggle on a ladder but they must have family and friends 

No doubt they will be calling 999 when the battery needs replacing ]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>0d7963b298fc4b2f8388bb81f6c1e3a2</guid> 
			            <pubDate>Mon, 07 Oct 2013 08:24:49 GMT</pubDate> 
			            <description><![CDATA[I agree all non emergency calls should be charged for at this rate of &#163;350.
Why should we subsidise people that are too lazy to maintain lifts or fit their own smoke alarms.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>b5ba1b14445a48428e7c1c5e20896b31</guid> 
			            <pubDate>Mon, 07 Oct 2013 08:28:51 GMT</pubDate> 
			            <description><![CDATA[That is crazy,this is costing the fire brigade &#163;24.5 million a year to fit these alarms that provide protection for just 70,000 households.
They could use that &#163;24.5 million to keep fire stations open and protect millions of people!
This is a very poor use of limited resources.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>b0db7ed6b8dc46b786a5864dfc983c0a</guid> 
			            <pubDate>Mon, 07 Oct 2013 10:57:58 GMT</pubDate> 
			            <description><![CDATA[Probably less but not so very much less. 4 man fire-crew for two hours, plus vehicle running and office overheads.

There&#39;s an element of &amp;quot;offender pays&amp;quot;. If they maintained their lifts better and replaced worn-out ones, they wouldn&#39;t break down so often. If it&#39;s made more expemsive to skimp on maintenance, then the maintenance will get a higher priority.]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>dfbcbb65805b4e37b2876477b66f617e</guid> 
			            <pubDate>Mon, 07 Oct 2013 11:02:18 GMT</pubDate> 
			            <description><![CDATA[It&#39;s really down to how you cost it. In one sense the firecrew has to be paid anyway, so it&#39;s &amp;quot;free&amp;quot; apart from the vehicle running cost. In another way, it should make a profit over the full cost of employing those firemen for the durantion of the unnecessary call-out, to give an incentive to stop such call-outs from happening.

]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>0eb88bf03d1644919745996c7dfd9593</guid> 
			            <pubDate>Mon, 07 Oct 2013 11:38:22 GMT</pubDate> 
			            <description><![CDATA[&#163;350 an hour,or part thereof,is what the fire brigade charge for its non emergency service.
Using the brigades own charging guidelines to charge for fitting smoke alarms would see a bill of &#163;700 being levied against each household that currently receives it free as each visit is scheduled for 90 minutes.
Therefore the true cost of providing free smoke alarms is actually &#163;49 million per year in  London,this figure is greater than the annual savings projected from the closure of fire stations and loss of engines!
When the LFB consulted with Londoners and received the answer that over 95% of respondents did not want to see any cuts to emergency fire cover,why did they not even suggest cutting free smoke alarms to make the budget cuts?]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>8ab57b97d6f54a1a90a3028f4f76b3a7</guid> 
			            <pubDate>Mon, 07 Oct 2013 14:26:59 GMT</pubDate> 
			            <description><![CDATA[Same reason as above: it&#39;s &amp;quot;free&amp;quot; in that the firecrews would otherwise be paid the same to sit in their fire-stations waiting for a big fire to start. Prevention is better than cure. Presumably the recipients are living on the breadline - why else would you NOT have a fire alarm that might one day save your life?

BTW has anyone ever considered sending the bill for any fire brigade attendance at an insured property to the insurer? Might that encourage greater responsibility by property owners?]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: anglesey]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>c77a349ef56b4ddf86ae508cfc9b3339</guid> 
			            <pubDate>Mon, 07 Oct 2013 06:43:33 GMT</pubDate> 
			            <description><![CDATA[The charge isn&#39;t high enough.]]></description> 
			            <dc:creator><![CDATA[anglesey]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: Anonymous]]></title> 
			            <link><![CDATA[http://www.standard.co.uk/news/london/fire-brigade-to-charge-350-for-each-lift-rescue-after-it-performs-6430-in-year-8863475.html]]></link> 
			            <guid>37397c31603c4192b77888622230059c</guid> 
			            <pubDate>Mon, 07 Oct 2013 07:36:41 GMT</pubDate> 
			            <description><![CDATA[Less than a solicitor would charge an hour so a bargain ]]></description> 
			            <dc:creator><![CDATA[Anonymous]]></dc:creator> 
		            </item> 
                
    </channel>
</rss>