<?xml version='1.0' encoding='utf-8'?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0"> 
	<channel> 
		<title><![CDATA[Legge elettorale oggi in aula. La Lega protesta e non parteciperà al voto - Repubblica.it]]></title> 
		<description></description> 
		<link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
		<pubDate>Fri, 31 Jan 2014 09:38:46 GMT</pubDate> 

        
		            <item> 
			            <title><![CDATA[By: Luciano Monti]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>22383b15576f4b6394085177381d066d</guid> 
			            <pubDate>Sat, 01 Feb 2014 14:07:27 GMT</pubDate> 
			            <description><![CDATA[Come sono veloci quando gli interessa, come riescono a superare il 
bicameralismo, piegando a piacere i regolamenti. La legge nata invece che in Parlamento nella 
sede di un partito-azienda con l&#39;accordo a due tra un condannato in 
primo grado ed un pregiudicato non deve trovare impedimenti. Alcuni 
diranno che importa finalmente finiranno le grandi intese, governer&#224; il centro-destra o il centro-sinistra. Illusi in 
questo paese le idee socialiste non le promuove pi&#249; nessuno, il Pd non &#232;
 un partito di sinistra, insieme a Berlusconi pensano come aziende solo alle loro convenienze. Chiunque 
governer&#224; tra questi la sostanza non cambier&#224;, la finanza ed il 
mercimonio di questi politici resteranno i padroni. La dittatura 
scambiata per governabilit&#224; &#232; il nostro futuro, svuotate le tasche e 
alzate le mani, preparatevi alle prossime rapine, di soldi e di diritti.]]></description> 
			            <dc:creator><![CDATA[Luciano Monti]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: germalli]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>b27c6124744f43e68a35f98f9097e835</guid> 
			            <pubDate>Sat, 01 Feb 2014 14:03:34 GMT</pubDate> 
			            <description><![CDATA[A questo punto mi piace di pi&#249; l&#39;ingenuit&#224;, ma anche la coerenza di Bersani, piuttosto che l&#39;arroganza di Renzi.Auguro a Bersani una pronta guarigione e di vederlo presto sulla scena politica che conta.]]></description> 
			            <dc:creator><![CDATA[germalli]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: hookahsmoking]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>0d643f1538694fc0834015d0cf103ebf</guid> 
			            <pubDate>Sat, 01 Feb 2014 13:57:41 GMT</pubDate> 
			            <description><![CDATA[bravo matteo. &#232; incredibile, ma ormai non mi stupisco pi&#249;, dei traguardi che potrai raggiungere. sei ad un passo dall&#39;essere ricordato come il peggior sindaco di firenze, sei per la cancellazione delle provincie e al tempo stesso sei stato indagato dalla corte dei conti per quando eri presidente qui e ora una legge elettorale che solo in nord corea potrebbero definire democratica, in accordo con berlusconi dopo che avevi detto no agli inciuci. aspetto con ansia le tua riforme sul lavoro... beato te che la gente capisce poco, pensa se ti toccava fare le cose sul serio... no?]]></description> 
			            <dc:creator><![CDATA[hookahsmoking]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: tomauro55]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>d6281f85c48d4140b9737072d8eabe8c</guid> 
			            <pubDate>Sat, 01 Feb 2014 13:56:56 GMT</pubDate> 
			            <description><![CDATA[Se&#160; non verr&#224;&#160; emanata &#160; entro&#160; le&#160; elezioni&#160; europee,&#160; non&#160; verr&#224;&#160; pi&#249;&#160; fatta,&#160; visto&#160; che&#160; alle&#160; prossime&#160; elezioni&#160; il&#160; Sig&#160; Renzi&#160; non&#160; prender&#224;&#160; nemmeno&#160; il 20%&#160;&#160; e&#160; sar&#224;&#160; costretto&#160; alle&#160; dimissioni,&#160; formando&#160; un&#160; suo&#160; partito&#160; che&#160; confluir&#224;&#160;&#160;&#160; nel&#160; centro&#160; destra.]]></description> 
			            <dc:creator><![CDATA[tomauro55]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: romano1939]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>e5a5547774dc4bb5b0db169c6b6fd7ff</guid> 
			            <pubDate>Sat, 01 Feb 2014 13:53:04 GMT</pubDate> 
			            <description><![CDATA[non capisco perch&#232; Renzi sia contento della legge elettorale.A me sembra che stia favorendo il condannato su cui convergeranno i voti lega ,casini e alfano:Il pd come far&#224; a raggiungere il 37%? Baster&#224; allearsi con Sel.Qualcuno che ne sa pi&#249; di me pu&#242; chiarirmi le idee?]]></description> 
			            <dc:creator><![CDATA[romano1939]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: tomauro55]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>0f2b05dbf7d24b008e9cbb565741c766</guid> 
			            <pubDate>Sat, 01 Feb 2014 13:43:24 GMT</pubDate> 
			            <description><![CDATA[Ma&#160; vi&#160; &#232;&#160; chiaro&#160; che&#160; Renzi&#160;&#160; non&#160; &#232;&#160; il&#160; segretario degli&#160; iscritti&#160; al&#160; PD,&#160; ma&#160; &#232;&#160; quello&#160; scelto&#160; dalle&#160; primarie&#160; dove&#160; hanno&#160; votato&#160; decine&#160; di&#160; migliaia&#160; di&#160; FI.&#160;&#160; Inutile&#160; nasconderlo&#160; questo&#160; metodo&#160; delle&#160; primarie&#160; aperte&#160; a&#160; tutti&#160; per 2 euro&#160; &#232;&#160; ridicolo.&#160;&#160; Non&#160; si&#160; pu&#242;&#160; scegliere&#160; un&#160; segretario&#160; di&#160; partito&#160; cos&#236;,&#160; siamo&#160; alle&#160; comiche.&#160; E&#39;&#160; normale&#160; che&#160; faccia&#160; il&#160; gioco&#160; di&#160; FI,&#160;&#160; &#232;&#160; l&#236;&#160; grazie&#160; al&#160; loro&#160; sostegno,&#160; di&#160; cosa&#160; ci&#160; si&#160; meraviglia]]></description> 
			            <dc:creator><![CDATA[tomauro55]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: vito485]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>17ed921ce3844fdd9f0a3579e523e5ae</guid> 
			            <pubDate>Sat, 01 Feb 2014 13:39:41 GMT</pubDate> 
			            <description><![CDATA[E&#39; davvero incredibile come tutti, Repubblica in testa, applaudono all&#39;iniziativa di Renzi e non si rendono conto che stanno consegnando il paese, &#160;mani e piedi, alla destra ,salvo poi prendersela col popolo bue definendolo cog....nee venduto ! Dilettanti, ciucci e presuntuosi &#160;oltre ogni limite !&#160;]]></description> 
			            <dc:creator><![CDATA[vito485]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: international]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>7d31cc816c784ed28b45649fb4fed675</guid> 
			            <pubDate>Sat, 01 Feb 2014 13:33:04 GMT</pubDate> 
			            <description><![CDATA[non so se il salva-lega sia costituzionale o meno, sicuramente &#232; una porcata, soprattutto &#232; un insulto agli elettori pd (del nord in particolare). ma &#232; anche in contraddizione con il progetto di tagliare le province e ridimensionare le regioni mangiasoldi (la lega &#232; contrarissima...). il pd ha il dovere di bocciare l&#39;emendamento: mi riferisco a renzi, ma anche a cuperlo intendiamoci]]></description> 
			            <dc:creator><![CDATA[international]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: specialone06]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>c74956905358447d96c85a6f038a37d9</guid> 
			            <pubDate>Sat, 01 Feb 2014 13:06:29 GMT</pubDate> 
			            <description><![CDATA[Le imprese chiudono, gli italiani sono disoccupati e senza lavoro, vessati da tasse altissime, e Renzi e Berlusconi pensano alle loro poltrone e agli interessi delle banche. La festa sta per finire!]]></description> 
			            <dc:creator><![CDATA[specialone06]]></dc:creator> 
		            </item> 
                
		            <item> 
			            <title><![CDATA[By: germalli]]></title> 
			            <link><![CDATA[http://www.repubblica.it/politica/2014/01/31/news/legge_elettorale_oggi_i_primi_voti_la_lega_protesta_e_non_parteciper_al_voto-77358891/]]></link> 
			            <guid>d754da711fd140ccbe138a826d4b677b</guid> 
			            <pubDate>Sat, 01 Feb 2014 12:35:35 GMT</pubDate> 
			            <description><![CDATA[Devo dire che finora Renzi &#232; riuscito a spaccare il centro sinistra, e a unire l&#39;intero centro destra; Casini ne &#232; la prova.Renzi, se continui cosi&#39; rottami anche te stesso e l&#39;intero PD.&#160;&#160;]]></description> 
			            <dc:creator><![CDATA[germalli]]></dc:creator> 
		            </item> 
                
    </channel>
</rss>