<div id="expanded_review_282901408">
<a name="UR282901408"></a>
<div id="UR282901408" class="extended provider0 first">
<div class="col1of2">
<div class="member_info">
<div id="UID_F8E87578A96D5EB3CFCE28492527243C-SRC_282901408" class="memberOverlayLink" onmouseover="ta.trackEventOnPage('Reviews','show_reviewer_info_window','user_name_photo'); ta.call('ta.overlays.Factory.memberOverlayWOffset', event, this, 's3 dg rgba_gry update2012', 0, (new Element(this)).getElement('.avatar')&&(new Element(this)).getElement('.avatar').getStyle('border-radius')=='100%'?-10:0);">
<div class="avatar profile_F8E87578A96D5EB3CFCE28492527243C ">
<a onclick=>
<script type="text/javascript">
ta.store('friendAvatarSwitcherObj', (function() {
var AVATAR_CLASS_GUID_REGEX = /\bavatarGUID:(\w+)\b/; // Class that contains the GUID of the member
//  whose avatar it's on.
var AVATAR_CLASS = 'potentialFacebookAvatar';         // Signal class for Mootools parsing of the DOM.
var AVATAR_CLASS_SELECTOR = '.' + AVATAR_CLASS;       // Selector needed for Mootools $$ function.
var guidToImgMap = {};        // mapping of member guids to avatar img tags
var friendGuidToSrcMap = {};  // mapping of friend guids* to facebook profile pic src values
//  *only ever contains guids of people with avatar img tags on page
var friendGuids = [];         // array of friend guids*, used because IE doesn't like for-each loops
//  *only ever contains guids of people with avatar img tags on page
return {
// Finds all avatars on the page that match the signal class, and stores them
// in a map for later replacement.
findAvatarsOnPage: function() {
$$(AVATAR_CLASS_SELECTOR).each(function (avatarImg) {
var guid = avatarImg.className.match(AVATAR_CLASS_GUID_REGEX);
if (guid && guid[1]) { // based on how JS regex works, guid[1] is the user's guid
guidToImgMap[guid[1]] = avatarImg; // associate the guid with the img tag
}
});
},
// Replaces all avatars on the page with the correct FB avatars, using
// the maps of GUIDs to img tags and FB profile src values.
replaceAvatarsOnPage: function() {
for (var i = 0; i < friendGuids.length; i++) { // because IE doesn't like for-each loops
var avatarImg = guidToImgMap[friendGuids[i]]
avatarImg.src = friendGuidToSrcMap[friendGuids[i]];
avatarImg.className = avatarImg.className.replace(AVATAR_CLASS_GUID_REGEX, '').replace(AVATAR_CLASS, '');
}
},
// Checks if guid is already in map of avatar img guids, and
// if it is, adds it to map of guids to be converted. This is called
// by a different file, such as friends_avatar_data_js.vm.
checkAndAddGuidAndSrc: function(guid, src) {
if (guidToImgMap.hasOwnProperty(guid)) {
friendGuids.push(guid);
friendGuidToSrcMap[guid] = src;
}
}
}
})());
// Make the partial request, and set our response behavior.
ta.merge('facebook.data.params', {uid: 'F8E87578A96D5EB3CFCE28492527243C'});          if(ta.keep) {
ta.keep('facebook.data.request', 'FRIEND_AVATARS');
}
ta.keep('facebook.data.onAvail.FRIEND_AVATARS', function() {
ta.retrieve('friendAvatarSwitcherObj').replaceAvatarsOnPage();
});
ta.queueForLoad(function() { // just in case we have the ta object before the DOM is fully initialized
ta.retrieve('friendAvatarSwitcherObj').findAvatarsOnPage(); // as soon as we can, start parsing the DOM for avatars
}, "findAvatarsOnPage");
</script>
<img src="http://media-cdn.tripadvisor.com/media/photo-l/05/56/31/1b/antonio-r.jpg" class="avatar potentialFacebookAvatar avatarGUID:F8E87578A96D5EB3CFCE28492527243C" width="74" height="74"/>
</a>
</div>
<div class="username mo">
<span class="expand_inline scrname mbrName_F8E87578A96D5EB3CFCE28492527243C" onclick="ta.trackEventOnPage('Reviews', 'show_reviewer_info_window', 'user_name_name_click')">Antonio R</span>
</div>
</div>
<div class="location">
Barcelona
</div>
</div>
<div class="memberBadging g10n">
<div id="UID_F8E87578A96D5EB3CFCE28492527243C-CONT" class="no_cpu" onclick="ta.trackEventOnPage('Reviews','show_reviewer_info_window','review_count'); ta.util.cookie.setPIDCookie('15984'); ta.call('ta.overlays.Factory.memberOverlayWOffset', event, this, 's3 dg rgba_gry update2012', -10, -50);">
<div class="levelBadge badge lvl_04">
Colaborador de nivel <span><img src="http://static.tacdn.com/img2/badges/20px/lvl_04.png" alt='' class='icon' width=20 height=20/></span> </div>
<div class="reviewerBadge badge">
<img src="http://static.tacdn.com/img2/badges/20px/rev_05.png" alt="" class="icon" width="20" height="20"/>
<span class="badgeText">21 opiniones</span> </div>
<div class="contributionReviewBadge badge">
<img src="http://static.tacdn.com/img2/badges/20px/Foodie.png" alt="" class="icon" width="20" height="20"/>
<span class="badgeText">6 opiniones de restaurantes</span>
</div>
</div>
<div id="UID_F8E87578A96D5EB3CFCE28492527243C-HV" class="helpfulVotesBadge badge no_cpu" onclick="ta.trackEventOnPage('Reviews','show_reviewer_info_window','helpful_count'); ta.util.cookie.setPIDCookie('15983'); ta.call('ta.overlays.Factory.memberOverlayWOffset', event, this, 's3 dg rgba_gry update2012', -22, -50);">
<img src="http://static.tacdn.com/img2/badges/20px/Appreciated.png" alt="" class="icon" width="20" height="20"/>
<span class="badgeText">
9 votos útiles </span>
</div>
</div>
</div>
<div class="col2of2">
<div class="innerBubble">
<div class="quote"><a href="/ShowUserReviews-g187514-d803063-r282901408-TGI_Fridays_Gran_Via-Madrid.html#CHECK_RATES_CONT" onclick="ta.setEvtCookie('Reviews','title','',0,this.href); setPID();" id="r282901408">&#x201c;<span class='noQuotes'>Divertido, familiar, buena atención</span>&#x201d;</a></div>
<div class="rating reviewItemInline">
<span class="rate sprite-rating_s rating_s">
<img class="sprite-rating_s_fill rating_s_fill s40" width='56' src="http://static.tacdn.com/img2/x.gif" alt="4 de 5 estrellas">
</span>
<span class="ratingDate">Opinión escrita el 25 junio 2015
</span>
<a class="viaMobile sprite-grayPhone" href="/apps" target="_blank" onclick="ta.util.cookie.setPIDCookie(24687)">mediante dispositivo móvil</a>
</div>
<div class="entry">
<p>
Suelo ir bastantes veces al TGI Fridays de Gran Vía en Madrid. Últimamente más al after work de cócteles que me encantan. Gente profesional, bien formada, sonrisas y buenos precios. Tal vez daría alguna opción más saludable en la carta porque sano, sano, no es. Pero todo está muy rico. En ocasiones me ha parecido ver falta de personal lo que ralentiza mucho el servicio
</p>
</div>
<div class="rating-list">
<div class="recommend">
<span class="recommend-titleInline noRatings">Visitado el abril de 2015</span>
</div>
</div>
<div class="expanded lessLink">
<span class="taLnk collapse ulBlueLinks no_cpu ">
Menos&nbsp;
</span>
<img class="textArrow_more sprite-arrow_dropdown_blu_up" src="http://static.tacdn.com/img2/x.gif" alt=""/>
</div>
<div id="helpfulq282901408_expanded" class="helpful redesigned white_btn_container ">
<span class="isHelpful">¿Útil?</span> <div class="tgt_helpfulq282901408 rnd_white_thank_btn" onclick="ta.call('ta.servlet.Reviews.helpfulVoteHandlerOb', event, this, 'LeJIVqd4EVIpECri1GII26mbqgqguuuxizSxiVtqgzsxE2JCMVMqdtqHyUvkoUdqHMvKmK3mqHJQQoqnQQniCIVxEIxiUqHJQQoqnQQVxE2JCMxiUqHJQQoqnQQiESyQQoqnQQpEcxiGII26XombQQoqnQQQQoqnqgoqnQQQQoqnQQQQoqnQQQQoqnqgoqnQQQQoqnQQuuuQQoqnQQQQoqnxioqnQQQQoqnQQzSQQoqnQQQQoqnxioqnQQQQoqnQQVtQQoqnQQQQoqnqgoqnQQQQoqnQQeVtIJpEJCIQQoqnQQQQoqnQQoqnQQoqnQQQQoqnQQeVsSVuQQoqnQQQQoqnqHoqnQQQQoqnQQyUvkoUdQQoqnQQQQoqnqHoqnQQQQoqnQQMvKmK3mQQoqnQQQQoqnqHoqnQQQQoqnQQxfQQoqnQQQQoqnqHoqnQQQQoqnQQrzzlQQoqnQQQQoqnQQoqnQQoqnQQQQoqnQQqnESMJgtQQoqnQQQQoqnqHoqnQQQQoqnQQDJMESMQQoqnQQQQoqnxioqnQQQQoqnQQGIacqHJQQoqnQQEVsSVutxiXvXAKUdKvqHJQQoqnQQIJEyVIxiXvXAKUdKvqHrzzlQQoqnQQqnESMJgtQQoqnQQzzEJCQQoqnQQqiSJqHDJMESMxiGIac6XoXmqoTpcXvXAKUdKv0tEn1XvXAKUdKv0zH1UvkoUd0pSM1qnvzsvkokvbA3xMozs7mfqnfzsXvdAXoXkXdmf0npEEeJIV1K0EJIVqiJcpV1U'); ta.trackEventOnPage('HELPFUL_VOTE_TEST', 'helpfulvotegiven_v2');">
<img src="http://static.tacdn.com/img2/icons/icon_thumb_white.png" class="helpful_thumbs_up white"></img>
<img src="http://static.tacdn.com/img2/icons/icon_thumb_green.png" class="helpful_thumbs_up green"></img>
<span class="helpful_text">Gracias, Antonio R</span> </div>
</div>
<div class="tooltips vertically_centered">
<div class="reportProblem">
<span id="ReportIAP_282901408" class="problem collapsed taLnk showTextLink" onclick="ta.trackEventOnPage('Reviews', 'report_problem', 'click'); ta.call('ta.overlays.Factory.iapFlyout', event, this, {voteContentType:'USERREVIEW', contentId: '282901408'})" onmouseover="ta.trackEventOnPage('Reviews', 'report_problem', 'hover_over_flag'); this.onmouseover=null">
<span class="ulBlueLinks">¿Algún problema con esta opinión?</span>
<img src="http://static.tacdn.com/img2/icons/gray_flag.png" width="13" height="14" alt="">
<span class="reportTxt">Denunciar</span> </span>
</div> </div>
<div class="userLinks">
<div class="sameGeoActivity">
<a href="/members-citypage/vickybcn21/g187514" target="_blank" onclick="ta.setEvtCookie('Reviews','more_reviews_by_user','',0,this.href); ta.util.cookie.setPIDCookie(19160)">
Consulta las 8 opiniones de Antonio R para Madrid </a>
</div>
<div class="askQuestion">
<span class="taLnk ulBlueLinks" onclick="ta.trackEventOnPage('answers_review','ask_user_intercept_click' ); return ta.call('ta.overlays.Factory.askReviewerIntercept', event, this, '803063', 'Antonio R', 'F8E87578A96D5EB3CFCE28492527243C', 'es', '282901408','Fridays Gran V\u00eda', 39151);">Pregunta a Antonio R sobre Fridays Gran Vía</span>
</div>
</div>
<div class="note">
Esta opinión es la opinión subjetiva de un miembro de TripAdvisor, no de TripAdvisor LLC. </div>
</div>
</div>
</div>
<div class="ad iab_inlineBanner">
<div id="gpt-ad-468x60" class="adInner gptAd"></div>
</div>
</div>
