<div id="formComentar">
	<h4 class="titulo"><img src="http://estatico.vozpopuli.com/v2/img/detalle/comunidadConVoz.gif" alt="Comunidad con Voz" /></h4>
	<form id="formularioComentario" enctype="application/x-www-form-urlencoded" method="post" action="/v2/includes/ajax/comentarios/addComentario.php?tabla=Noticias">
		<fieldset>
			<input type="hidden" id="procesarComentario" value="" name="procesarComentario" /> 
			<input type="hidden" id="idElemento" value="45866" name="idElemento" />
			<input type="hidden" id="comentariosTabla" value="Noticias" name="comentariosTabla" />
			<textarea rows="1" cols="1" id="texto" name="texto"></textarea>
			
			<input type="submit" class="botonEnviar" value="enviar comentario">
		</fieldset>
	</form>
    <div class="derechaForm">
        <span class="dejarComentario">Deja tu comentario</span>
	    <div class="datosUser">
			<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/avatar-sin-imagen.png" height=42 width=42 alt="" />
            <a class="editarPerfil" href="http://social.vozpopuli.com/perfil">editar perfil</a>
        </div>
	</div>
</div>

<div id="comentarioEnviado">
    <p>Comentario enviado correctamente.</p>
    <div class="mensaje">
        <p><strong>Muchas Gracias por su dejarnos su opinión.</strong></p>
        <p><strong>Su comentario ha sido enviado al moderador.</strong></p>
        <p><strong>El proceso de validación podría demorarse unos minutos.</strong></p>
    </div>
</div>

    
<div id="formLogin">
	<h4 class="titulo">
    	<img src="http://estatico.vozpopuli.com/v2/img/detalle/comunidadConVoz.gif" alt="Comunidad con Voz" />
        <div class="cajaUsuario">
            <p class="noConectado"><a class="noExterno" href="http://social.vozpopuli.com/login"><img src="http://estatico.vozpopuli.com/v2/img/interface/btn-conectate.png" alt="" /></a> o <a class="noExterno" href="http://social.vozpopuli.com/registro">Regístrate</a></p>
        </div>
        <div class="cajaUsuario conectado">
            <p>
                <span class="bienvenido">Bienvenido </span>
                <a class="noExterno nombreUsuario" href="http://social.vozpopuli.com/perfil">
                <img class="fotoUsuario" alt="http://estatico.vozpopuli.com/social/imagenes/Usuarios/#imagen#/resizeCrop/22/22/imagen.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAIC‌​RAEAOw==" />
                <img class="fotoUsuarioSinAvatar" src="http://estatico.vozpopuli.com/v2//social/img/usuario/fnd-avatar-sin-imagen.jpg" height=22 width=22 alt="" />
                <strong>Nombre de usuario</strong>
                </a>
                <a class="noExterno notificaciones" href="http://social.vozpopuli.com/perfil/eventos">0</a><a class="noExterno logout" href="http://social.vozpopuli.com/includes/contenido/login/logout.php"><img src="http://estatico.vozpopuli.com/v2/img/interface/ico-mensaje-usuario-salir.png" alt="" /></a>
            </p>
        </div>
    </h4>
	    
    <div class="contenedorFormRegistro">
	    <span class="dejarComentario">Deja tu comentario</span>
        <form id="formularioLogin" enctype="application/x-www-form-urlencoded" method="post" action="/v2/includes/ajax/login/login.php">
            <fieldset>
                <input type="hidden" id="procesarComentario" value="" name="procesarComentario">
                <input type="hidden" id="comentariosTabla" value="Noticias" name="comentariosTabla" />
                <div class="email textForm">
                    <label for="email">Email</label>
                    <input type="text" id="email" value="" name="email">
                </div>
                <div class="password textForm">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" value="" name="password">
                </div>
                <a class="enlacePass" href="http://social.vozpopuli.com/recordar-contrasena">¿Has olvidado tu contraseña?</a>
                <input type="submit" class="botonEnviar" value="enviar">
            </fieldset>
        </form>
        <div class="registroRedes">
            <a href="http://social.vozpopuli.com/pull/loginFacebook.php" class="loginExt"><img src="http://estatico.vozpopuli.com/v2/img/interface/btn-login-facebook.png" alt="Login con facebook" /></a>
            <a href="http://social.vozpopuli.com/pull/loginTwitter.php" class="loginExt"><img src="http://estatico.vozpopuli.com/v2/img/interface/btn-login-twitter.png" alt="Login con twitter" /></a>
        </div>
	</div>
</div>


    <div id="contenedorComentarios">

        <p class="numComentarios"><span class="numero">41</span> <span class="leyendaComentarios">últimos comentarios</span></p>
        
        <ul class="listadoComentarios">
                            <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/02E7A07A-3BA4-A130-7ACC-91B97B1174E7.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Elespectador</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(08:12)
														</span>
							<span class="contadorComentario"><strong>11</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Me encantan estos chicos del PP, que después de llenarse la boca con lo de ¡Gibraltar Español! y cosas por el estilo se llevan la pasta a la tierra de los LLanitos, para no pagar a hacienda, que según ellos somos todos.<br />
<br />
En los años setenta un grupo musical, creo recordar que  se llamaban "Los Chelis" saco una canción muy pegadiza con un estribillo que decía:<br />
<br />
-Yo soy un patriota y por eso la bandera la llevo en la billetera- para terminar con un: Suiza Patria querida.<br />
<br />
Al margen de las notas de humor, estos individuos son unos golfos inmorales, aunque la expresión que más les va es una que empieza por hache y la última palabra empieza por pe.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Elespectador" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584355" class="meGusta"><span class="votos">15</span></a>
									</li>
                                    <li>
										<a href="4584355" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584355" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">OsVaisA</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(07:55)
														</span>
							<span class="contadorComentario"><strong>10</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            La impunidad otorgada por un Estado a un sujeto que debería estar entre rejas tiene estas consecuencias. No hay nada de qué extrañarse, aquí en España cuna del saqueo y sometimiento de sus ciudadanos por un régimen despótico y fascista, de que "uno de los suyos" haga estas cosas, pues al fin y al cabo redundará en beneficio de toda la banda. Ahora vete a mirar los actos de la banda contrincante.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#OsVaisA" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584348" class="meGusta"><span class="votos">14</span></a>
									</li>
                                    <li>
										<a href="4584348" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584348" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">beppe</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(07:44)
														</span>
							<span class="contadorComentario"><strong>9</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            RR nos deberia contar a todos, los 30.000 millones de usd que llegaron de los USA en 1996, fondos opacos , y su implicacion en la burbuja inmobiliaria. Estos fondos fueron expulsados por presion del banco central europeo en 2006, curiosamente el año del estallido de la burbuja.<br />
Recuerdo a los lectores, que con la reserva fraccionaria, 30.000 se convierten en 300.000.<br />
fuente worldreports.org, en el 2006/7                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#beppe" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584343" class="meGusta"><span class="votos">12</span></a>
									</li>
                                    <li>
										<a href="4584343" class="noMeGusta"><span class="votos">4</span></a>
									</li>
                                    <li>
                                    	<a href="4584343" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">gales10</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(07:35)
														</span>
							<span class="contadorComentario"><strong>8</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            No se puede hacer lo que hacemos en España: Poner a la zorra a cuidar las gallinas.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#gales10" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584341" class="meGusta"><span class="votos">12</span></a>
									</li>
                                    <li>
										<a href="4584341" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584341" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/B77383EE-1E06-B3DE-2056-E5F9D3D17BD1.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">malavibora</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(07:32)
														</span>
							<span class="contadorComentario"><strong>7</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Después de dirigir hacia la quiebra a todo un país este elemento ha seguido la costumbre familiar de quebrar bancos y ahora sigue inmerso en la misma ética profesional. Quiere ser bueno pero no puede, la carga genética y la ley hecha a medida no se lo permite.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#malavibora" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584339" class="meGusta"><span class="votos">15</span></a>
									</li>
                                    <li>
										<a href="4584339" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584339" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">pcranich2</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(07:00)
														</span>
							<span class="contadorComentario"><strong>6</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Hoy los de Iberdrola se han repartido 81 millones de euros, que se dice pronto. Los ricos en España muestran soberbiamente su opulencia paseando en carroza por la calle, mientras que los medios de comunicacion dan palmas con las orejas porque ciento algo mil personas tienen trabajos por horas para cobrar 4 euros. Si los españoles aguantan, y votan al PPSOE, lo tienen bien merecido.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#pcranich2" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584334" class="meGusta"><span class="votos">26</span></a>
									</li>
                                    <li>
										<a href="4584334" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584334" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/869580FE-FAA1-F1E3-AD6E-4BFCB97E26DA.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">ElToro</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(06:20)
														</span>
							<span class="contadorComentario"><strong>5</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Uhmmm...yo que me creo que esto es culpa de Pablo Iglesias...¿ a que sí ?.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#ElToro" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584330" class="meGusta"><span class="votos">20</span></a>
									</li>
                                    <li>
										<a href="4584330" class="noMeGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
                                    	<a href="4584330" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/FD421DA7-343C-1672-4595-AF281BA21DC6.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">SkunkWorks</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(05:57)
														</span>
							<span class="contadorComentario"><strong>4</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            como cualquiera que tenga dos gramos de cerebro y no tenga ganas de trabajar para la hacienda española a tiempo completo.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#SkunkWorks" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584325" class="meGusta"><span class="votos">4</span></a>
									</li>
                                    <li>
										<a href="4584325" class="noMeGusta"><span class="votos">12</span></a>
									</li>
                                    <li>
                                    	<a href="4584325" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">capitan</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(05:15)
														</span>
							<span class="contadorComentario"><strong>3</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            A traves de estas sociedades (y otras tantas que habrá interpuesto tras esta) le podran pagar cualquier tipo de soborno o sobre sin que pueda quedar constancia en ningun sitio, y un juez pueda tardar años en desenredar la madeja.<br />
<br />
A traves de estas sociedades podrá ser accionista o invertir en los mercados aprovechando información privilegiada o chivatazos (conseguidos en las empresas en las que trabaja o de otros contactos del gobierno) y nadie podrá conectar de ningun forma la figura de esta persona con las inversiones en los mercados de una red de sociedades interpuestas, y nadie nunca podrá probar un delito de información privilegida.<br />
<br />
Infografía interactiva: esconde tu dinero (en paraísos fiscales) [ENG]<br />
<a href="http://www.meneame.net/story/infografia-interactiva-esconde-tu-dinero-paraisos-fiscales-eng">www.meneame.net/story/infograf...</a><br />
Crisis y paraísos fiscales<br />
<a href="http://www.youtube.com/watch?v=zz8LSCL19NQ">www.youtube.com/watch?v=zz8LSC...</a>                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#capitan" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584318" class="meGusta"><span class="votos">21</span></a>
									</li>
                                    <li>
										<a href="4584318" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584318" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">JRA</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(04:46)
														</span>
							<span class="contadorComentario"><strong>2</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Por eso no hay interés alguno en recuperar Gibraltar. Es más con la excusa de que lo "ordena" Bruxelas hay un plan de crear una autopistas de multiples carriles. La roca esconde el producto de los latrocinios varios de estos felones. No ha cambiado nada desde Fernando VII y "los 100.000 hijos de San Luis".                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#JRA" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584311" class="meGusta"><span class="votos">22</span></a>
									</li>
                                    <li>
										<a href="4584311" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584311" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/D3996350-11BF-9AE6-08B3-31EEECF09E60.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Martes_Carnaval</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(04:22)
														</span>
							<span class="contadorComentario"><strong>1</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Parafraseando a Groucho Marx: Partiendo de la nada, y con su solo esfuerzo, ha llegado a alcanzar las más altas cotas de miseria... moral.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Martes_Carnaval" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584308" class="meGusta"><span class="votos">22</span></a>
									</li>
                                    <li>
										<a href="4584308" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584308" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                        </ul>
        <div class="paginacion">
            <div>
                <span class="paginador"><a href="1/tipo-Noticias" class="paginadorInicio">inicio</a> <a href="1/tipo-Noticias" class="paginadorAnterior">anterior</a> <a href="1/tipo-Noticias" class="paginadorPagina1">1</a> <a href="2/tipo-Noticias" class="paginadorPaginaActual">2</a></span>            </div>
        </div>
    </div>
    
