<div id="formComentar">
	<h4 class="titulo"><img src="http://estatico.vozpopuli.com/v2/img/detalle/comunidadConVoz.gif" alt="Comunidad con Voz" /></h4>
	<form id="formularioComentario" enctype="application/x-www-form-urlencoded" method="post" action="/v2/includes/ajax/comentarios/addComentario.php?tabla=Noticias">
		<fieldset>
			<input type="hidden" id="procesarComentario" value="" name="procesarComentario" /> 
			<input type="hidden" id="idElemento" value="45866" name="idElemento" />
			<input type="hidden" id="comentariosTabla" value="Noticias" name="comentariosTabla" />
			<textarea rows="1" cols="1" id="texto" name="texto"></textarea>
			
			<input type="submit" class="botonEnviar" value="enviar comentario">
		</fieldset>
	</form>
    <div class="derechaForm">
        <span class="dejarComentario">Deja tu comentario</span>
	    <div class="datosUser">
			<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/avatar-sin-imagen.png" height=42 width=42 alt="" />
            <a class="editarPerfil" href="http://social.vozpopuli.com/perfil">editar perfil</a>
        </div>
	</div>
</div>

<div id="comentarioEnviado">
    <p>Comentario enviado correctamente.</p>
    <div class="mensaje">
        <p><strong>Muchas Gracias por su dejarnos su opinión.</strong></p>
        <p><strong>Su comentario ha sido enviado al moderador.</strong></p>
        <p><strong>El proceso de validación podría demorarse unos minutos.</strong></p>
    </div>
</div>

    
<div id="formLogin">
	<h4 class="titulo">
    	<img src="http://estatico.vozpopuli.com/v2/img/detalle/comunidadConVoz.gif" alt="Comunidad con Voz" />
        <div class="cajaUsuario">
            <p class="noConectado"><a class="noExterno" href="http://social.vozpopuli.com/login"><img src="http://estatico.vozpopuli.com/v2/img/interface/btn-conectate.png" alt="" /></a> o <a class="noExterno" href="http://social.vozpopuli.com/registro">Regístrate</a></p>
        </div>
        <div class="cajaUsuario conectado">
            <p>
                <span class="bienvenido">Bienvenido </span>
                <a class="noExterno nombreUsuario" href="http://social.vozpopuli.com/perfil">
                <img class="fotoUsuario" alt="http://estatico.vozpopuli.com/social/imagenes/Usuarios/#imagen#/resizeCrop/22/22/imagen.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAIC‌​RAEAOw==" />
                <img class="fotoUsuarioSinAvatar" src="http://estatico.vozpopuli.com/v2//social/img/usuario/fnd-avatar-sin-imagen.jpg" height=22 width=22 alt="" />
                <strong>Nombre de usuario</strong>
                </a>
                <a class="noExterno notificaciones" href="http://social.vozpopuli.com/perfil/eventos">0</a><a class="noExterno logout" href="http://social.vozpopuli.com/includes/contenido/login/logout.php"><img src="http://estatico.vozpopuli.com/v2/img/interface/ico-mensaje-usuario-salir.png" alt="" /></a>
            </p>
        </div>
    </h4>
	    
    <div class="contenedorFormRegistro">
	    <span class="dejarComentario">Deja tu comentario</span>
        <form id="formularioLogin" enctype="application/x-www-form-urlencoded" method="post" action="/v2/includes/ajax/login/login.php">
            <fieldset>
                <input type="hidden" id="procesarComentario" value="" name="procesarComentario">
                <input type="hidden" id="comentariosTabla" value="Noticias" name="comentariosTabla" />
                <div class="email textForm">
                    <label for="email">Email</label>
                    <input type="text" id="email" value="" name="email">
                </div>
                <div class="password textForm">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" value="" name="password">
                </div>
                <a class="enlacePass" href="http://social.vozpopuli.com/recordar-contrasena">¿Has olvidado tu contraseña?</a>
                <input type="submit" class="botonEnviar" value="enviar">
            </fieldset>
        </form>
        <div class="registroRedes">
            <a href="http://social.vozpopuli.com/pull/loginFacebook.php" class="loginExt"><img src="http://estatico.vozpopuli.com/v2/img/interface/btn-login-facebook.png" alt="Login con facebook" /></a>
            <a href="http://social.vozpopuli.com/pull/loginTwitter.php" class="loginExt"><img src="http://estatico.vozpopuli.com/v2/img/interface/btn-login-twitter.png" alt="Login con twitter" /></a>
        </div>
	</div>
</div>


    <div id="contenedorComentarios">

        <p class="numComentarios"><span class="numero">41</span> <span class="leyendaComentarios">últimos comentarios</span></p>
        
        <ul class="listadoComentarios">
                            <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Roman2</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(10:07)
														</span>
							<span class="contadorComentario"><strong>41</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            yo creo qe va a utilizar esa compañia para vehiculizar la nueva estrategia de los poderes del PP (ocultos y no) para llevarse el dinero. En lugar de hacerlo con tesoreros en la calle Genova, las multinacionales usaran esta cia de la que el se llevara una parte, para dar dinero al PP y llevarse contratos, fuera del alcance de la judicaturia española. Va a ser el nuevo tesorero del PP. EL PP no está por el cambio, sino por cambiar algo para seguir igual y darnos si acaso las  migajas en el suelo par que nos las disputemos.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Roman2" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584474" class="meGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
										<a href="4584474" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584474" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/E716640D-C535-60AA-CDB3-39A2B8742953.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Radical</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(10:06)
														</span>
							<span class="contadorComentario"><strong>40</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Éste es un Rato listo:ES DE LA CASTA DE TODA LA VIDA,le viene de lejos.Siempre pillando Y DESTRUYENDO.<br />
Caso Bankia RODRI,que te has fugado de rositas.Y miles de jubilados en la puta ruina.<br />
esta es la Esppaña que les gusta a los de siempre.<br />
Y si alguien se mueve sacamos un frankito y otro golpe de Estado                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Radical" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584472" class="meGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
										<a href="4584472" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584472" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">torpedator</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(10:05)
														</span>
							<span class="contadorComentario"><strong>39</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            El chico no está haciendo nada ilegal. Si se puede hacer, lo hace y ya está. Que el tipo es un pájaro, pues todo apunta a que lo es. Que el tipo está protegido por el sistema, pues está claro (curra para el Santander). Que el tipo ejercerá de pantalla para quién sabe cuánta gente, pues parece que sí. El angelito campa a sus anchas por territorio nacional e internacional, seguro que hace ganar dinero a mucha gente. Este no caerá, para eso ya está Blesa haciendo de Barrionuevo. Esto es Españaaaaaa !!!                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#torpedator" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584470" class="meGusta"><span class="votos"></span></a>
									</li>
                                    <li>
										<a href="4584470" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584470" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Pablito</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(10:02)
														</span>
							<span class="contadorComentario"><strong>38</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Normal. Como este elemento está por encima de la ley para el bien y para el mal. Lo que quiera. No le pasará nada y con sus actos que a mí me parecen vergonzantes, seguirá ayudando a la camada, que son tan impresentables como él.<br />
Lo raro es que no intente también comenzar a vender España.<br />
Porque este elemento no lleva a tiempo en la cárcel sin poder recurrir salida.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Pablito" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584467" class="meGusta"><span class="votos">5</span></a>
									</li>
                                    <li>
										<a href="4584467" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584467" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/EAE6AD74-1FAB-DB5B-23FC-208CDBD3CD7B.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Wanderclyffe</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:57)
														</span>
							<span class="contadorComentario"><strong>37</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            ¡Rato es de la ETA económica!                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Wanderclyffe" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584462" class="meGusta"><span class="votos">5</span></a>
									</li>
                                    <li>
										<a href="4584462" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584462" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Causticae</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:50)
														</span>
							<span class="contadorComentario"><strong>36</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            ¡Este si que es un pájaro de cuenta!. Ya tuvo familiares en la cárcel y él va por el mismo camino. <br />
Su caso va a ser una excelente piedra de toque para comprobar si la justicia es igual para todos en España. De momento, por el asunto de las preferentes no parece que haya acciones judiciales que le supongan incomodidad alguna en marcha. Mientras los preferentistas están luchando por sus intereses en los tribunales con sus muy limitados medios.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Causticae" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584455" class="meGusta"><span class="votos">6</span></a>
									</li>
                                    <li>
										<a href="4584455" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584455" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Chupetin</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:49)
														</span>
							<span class="contadorComentario"><strong>35</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            <a href="#pcranich2" rel="3922" class="uRelacionado">@pcranich2</a> <a href="#6" rel="4584334" class="cRelacionado">#6</a><br />
<br />
4 euros la hora?...No me digas, donde?...Consígueme alguien, yo pago 8 euros la hora. El trabajo es de maid..                        </div>
						 							<a class="conversacion" href="/v2/includes/ajax/comentarios/conversacion.php?idComentario=4584454">
								<img src="http://estatico.vozpopuli.com/v2/img/detalle/verConversacion.gif" alt="" />&nbsp;ver conversación
															</a>
							                    </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Chupetin" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584454" class="meGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
										<a href="4584454" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584454" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                            <div class="bloqueConversacion"></div>
                                        </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/E9D4D5B6-421E-8A6A-5296-A9B82C341961.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Doppelganger</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:48)
														</span>
							<span class="contadorComentario"><strong>34</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Es superior a ellos, no lo pueden evitar ser una atajo de chorizos. Eso si, chorizos patriotas españoles. Como el Millet y el Pujol, etc. Todos tenemos nuestra lacra. Bueno todos no.<br />
¿Cuantos casos de corrupción "gordos" han saltado en el Pais Vasco?                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Doppelganger" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584450" class="meGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
										<a href="4584450" class="noMeGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
                                    	<a href="4584450" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Andrea2</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:45)
														</span>
							<span class="contadorComentario"><strong>33</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            "Rato crea una sociedad con conexiones en paraísos fiscales, un año después de ser imputado por el caso Bankia."<br />
<br />
La cabra siempre tira al monte...                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Andrea2" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584444" class="meGusta"><span class="votos">6</span></a>
									</li>
                                    <li>
										<a href="4584444" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584444" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/D5179EA5-766F-1D85-9EC0-A70D7EE3B560.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">poraquiandamos</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(09:43)
														</span>
							<span class="contadorComentario"><strong>32</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            El PP haría bien en analizar la noticia.<br />
<br />
Son noticias como éstas y no los descréditos a Podemos las que le quitan votos de su granero.<br />
<br />
Y Gürtel,<br />
<br />
<br />
Y Bárcenas,<br />
<br />
<br />
Y Mato,<br />
<br />
<br />
y....<br />
<br />
<br />
y....                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#poraquiandamos" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584439" class="meGusta"><span class="votos">6</span></a>
									</li>
                                    <li>
										<a href="4584439" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584439" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/43EAA347-52EA-7F03-6F4D-5F0D7E8A9C87.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">ignaro</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:39)
														</span>
							<span class="contadorComentario"><strong>31</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Lo que yo me pregunto es por qué no ha ido ya una unidad de la UDEF A DETENERLE.<br />
<br />
España, país corrupto. ÉLITES PODRIDAS.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#ignaro" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584433" class="meGusta"><span class="votos">4</span></a>
									</li>
                                    <li>
										<a href="4584433" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584433" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">rafarafa</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:36)
														</span>
							<span class="contadorComentario"><strong>30</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Este es el gran gurú de la economía española y europea, el vendedor de humo que salió por la puerta de atras del FMI con los clazoncillos cagados, el que no se enteró de la peor crisis económica de la historia reciente, el iluminado que nos dijo aquello de "Hazte banquero", y luego metió a miles de incautos en un "embolao" del que todavía no han salido. Ese individuo vuelve a las andadas inventando fondos y demás instrumentos como los que nos llevaron a la situación actual, se siente seguro y arropado por unas leyes a medida y unos buenos amiguetes de correrías en las mas altas instituciones del Estado, todo un alarde de país serio y transparente, me recuerda a los paises del norte de Europa.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#rafarafa" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584428" class="meGusta"><span class="votos">7</span></a>
									</li>
                                    <li>
										<a href="4584428" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584428" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/0BF9B6CC-85A9-B865-6CC8-B7FA96C09E92.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Pepedomingocastanas</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:26)
														</span>
							<span class="contadorComentario"><strong>29</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Patriotas de hojalata, piden a los demás que paguen impuestos mientras ellos se forran utilizando la ingeniería fiscal propia de los multimillonarios.<br />
<br />
A esta gente le ha estado votando durante décadas el obrero que apenas tenía para llegar a fin de mes. Y esta gente se ha reído en su cara todo lo que ha podido y más.<br />
<br />
Espero que nunca más vuelvan a persistir en ese error.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Pepedomingocastanas" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584418" class="meGusta"><span class="votos">5</span></a>
									</li>
                                    <li>
										<a href="4584418" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584418" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/EFB2A6E6-FD24-6F65-1CA8-051D519B383C.png/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Nasciturus</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:25)
														</span>
							<span class="contadorComentario"><strong>28</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Hay muchos aspectos en los que difiero radicalmente con PI, pero lo que tengo claro es que todos estos seguirán haciendo lo que les dé la gana mientras NO se les eche a TODOS de la política [no solo de las instituciones]<br />
Rato, como otros muchos, ha sido educado en la cleptomanía, en el cinismo y en reirse de los de a pie.<br />
Hay que votar a Podemos                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Nasciturus" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584417" class="meGusta"><span class="votos">4</span></a>
									</li>
                                    <li>
										<a href="4584417" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584417" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/75B71383-B362-CDF2-3230-F3D57FBCAA38.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Kraton</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:25)
														</span>
							<span class="contadorComentario"><strong>27</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Señor, señor. Este "ignorante soberbio" (por usar palabras de Lope de Vega dirigidas a unos personajes incapaces de cualquier autocrítica) se creyó capacitado para cualquier tarea y aún no acaba de aceptar el hecho de que carece de suficiente preparación económica como ha demostrado su estrepitoso fracaso en materia de banca o monetarismo. Lo malo es que su incapacidad llevó al horno dinero ajeno y dejó mal a España en Washington. Para ser buen banquero hace falta algo más que venir de familia rica, ser ex-ministro conservador, estar recomendado o pecar de "dilettante".                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Kraton" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584416" class="meGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
										<a href="4584416" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584416" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/4A337189-0743-70FE-65D7-BAFFD48A7C65.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Enemigo</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:17)
														</span>
							<span class="contadorComentario"><strong>26</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            En un pais medio serio, este tipo, estaba en la cárcel y sus bienes expropiados por estafa.<br />
Pero en uno de pandereta, sigue a cara descubierta a lo suyo.<br />
Lo de islas vírgenes, se supone que va de cachondeo, no?                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Enemigo" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584407" class="meGusta"><span class="votos">10</span></a>
									</li>
                                    <li>
										<a href="4584407" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584407" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">IRNERIO</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(09:15)
														</span>
							<span class="contadorComentario"><strong>25</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Rato no hace nada ilegal. Simplemente aprovecha las facilidades que el sistema pone al alcance de algunos. Rato, como parte de la casta, se siente impune y ademas esta covencido (como el resto de castuzos) de que lo que hace es moral. No lo se, de moral y sus derivados no opino.<br />
<br />
Pero Rato y los Ratos que tenemos pululando por Hispanistan estan empezando a tener miedo. Los perroflautas, hippies, ingenuos, idealistas, comunistas, o ciudadanos llanos del 15M se han organizado y han conseguido una organizacion a la que se estan acercando, muchos con la nairz tapada, millones de ciudadanos hartos de la situacion.<br />
<br />
La gente esta empezando a desconfiar del discurso de tertulia televisiva barata de izquierda-derecha, progres-carcas, PP-PSOE. La gente lleva mucho tiempo teniendo la percepcion de que el discurso es casta-el resto. <br />
<br />
Y esta idea, que llevava anidada en mentes mucho tiempos, circulando por Internet, en bares, calles y parques ha encontrado su catalizador (Podemos) y esta atancando el sistema como mas le duele, desde dentro.<br />
<br />
Ya no es la algarada en la calle, la casta tiene miedo porque se esta usando el sistema para cambiarlo.<br />
<br />
Veremos como la casta se defiende y veremos como se produce el frente rupturista-revolucionario. Tiempos interesantes esperan.<br />
<br />
Ahora bien, noticias como esta no son mas que esteroides para Podemos. <br />
<br />
Yo ya he comprado palomitas y he pedido sitio en primera fila...                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#IRNERIO" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584406" class="meGusta"><span class="votos">6</span></a>
									</li>
                                    <li>
										<a href="4584406" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584406" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/37090C6C-CD27-8FBB-0DA7-84CB6F5C60DC.png/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Nosoycomplice</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(09:15)
														</span>
							<span class="contadorComentario"><strong>24</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            <a href="#Rberzal" rel="218" class="uRelacionado">@Rberzal</a> <a href="#23" rel="4584395" class="cRelacionado">#23</a><br />
<br />
Patente de Corso que se llama.                        </div>
						 							<a class="conversacion" href="/v2/includes/ajax/comentarios/conversacion.php?idComentario=4584405">
								<img src="http://estatico.vozpopuli.com/v2/img/detalle/verConversacion.gif" alt="" />&nbsp;ver conversación
															</a>
							                    </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Nosoycomplice" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584405" class="meGusta"><span class="votos">4</span></a>
									</li>
                                    <li>
										<a href="4584405" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584405" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                            <div class="bloqueConversacion"></div>
                                        </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">Rberzal</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(09:07)
														</span>
							<span class="contadorComentario"><strong>23</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Rato es un genio de las finanzas... siempre que el negocio consista en trincar gracias a los amiguetes del PP                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#Rberzal" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584395" class="meGusta"><span class="votos">4</span></a>
									</li>
                                    <li>
										<a href="4584395" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584395" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/98B3973A-0690-8A22-E5D6-681BF14F32E4.png/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">FelixIgnacio</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(08:57)
														</span>
							<span class="contadorComentario"><strong>22</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Aquí lo tenéis, RATO, un patriota.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#FelixIgnacio" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584388" class="meGusta"><span class="votos">5</span></a>
									</li>
                                    <li>
										<a href="4584388" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584388" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">paktrue</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(08:52)
														</span>
							<span class="contadorComentario"><strong>21</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            La cabra tira al monte y este desperdicio humano va a seguir haciendo lo mismo toda su puta vida porqué los legisladores internacionales son como él y hacen lo mismo que él, tienen la lección bien aprendida; es un lobby de cerdos asquerosos comiendo a saco en la piara si dejar sitio para nadie más. En pocos días van a ver a urdanga sin animo de lucro creando urdangaritas para ayudar al prójimo y barcenas creando una ONG para erradicar el hambre en el mundo llamada la polla insaciable.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#paktrue" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584386" class="meGusta"><span class="votos">11</span></a>
									</li>
                                    <li>
										<a href="4584386" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584386" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">beppe</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(08:46)
														</span>
							<span class="contadorComentario"><strong>20</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Dice Pam Martens, una ex broker y editora de wallstreet on parade, que la proteccion y encubrimiento que dan los organos reguladores a los banqueros delicientes es de escandalo. En los EEUU y por supuesto aqui tambien                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#beppe" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584384" class="meGusta"><span class="votos">10</span></a>
									</li>
                                    <li>
										<a href="4584384" class="noMeGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
                                    	<a href="4584384" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/D5179EA5-766F-1D85-9EC0-A70D7EE3B560.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">poraquiandamos</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(08:41)
														</span>
							<span class="contadorComentario"><strong>19</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Nos están dando a todos por el Portcullis TrustNet                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#poraquiandamos" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584379" class="meGusta"><span class="votos">9</span></a>
									</li>
                                    <li>
										<a href="4584379" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584379" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/v2/img/detalle/foto-comentarios-usuarios-sinImagen.jpg" alt="" />
								        
							<span class="nombreUsuario">N66</span>
                            							<span class="fechaComentario">
							03.07.2014 
							(08:25)
														</span>
							<span class="contadorComentario"><strong>18</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            La culpa es de la Irán y la Venezuela de Maduro... Malditos!                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#N66" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584371" class="meGusta"><span class="votos">10</span></a>
									</li>
                                    <li>
										<a href="4584371" class="noMeGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
                                    	<a href="4584371" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/E7F272B2-FD93-7E0B-1E66-0E8A9F868A35.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">remero</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(08:24)
														</span>
							<span class="contadorComentario"><strong>17</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Le habrá enseñado cañete.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#remero" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584370" class="meGusta"><span class="votos">10</span></a>
									</li>
                                    <li>
										<a href="4584370" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584370" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/E7F272B2-FD93-7E0B-1E66-0E8A9F868A35.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">remero</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(08:24)
														</span>
							<span class="contadorComentario"><strong>16</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            El mismo que por medio de hacienda te mete un hachazo que te deja tieso.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#remero" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584368" class="meGusta"><span class="votos">10</span></a>
									</li>
                                    <li>
										<a href="4584368" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584368" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/2D1F8C92-AB18-EFAB-BFB4-9EED01BFB918.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">mortalcontribuy</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(08:20)
														</span>
							<span class="contadorComentario"><strong>15</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Si al final tendremos que alegrarnos de PODEMOS y más si crea gobierno, seguro que hace una buena limpia, Rato que tendría que estar preso y embargado como muchos otros ahí está, ¿para que coño quiere una sociedad así? ¿que prepara?                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#mortalcontribuy" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584363" class="meGusta"><span class="votos">14</span></a>
									</li>
                                    <li>
										<a href="4584363" class="noMeGusta"><span class="votos">3</span></a>
									</li>
                                    <li>
                                    	<a href="4584363" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/1CB5C4B8-B041-0839-55FF-48E613DB131F.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">LewisCarrot</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(08:19)
														</span>
							<span class="contadorComentario"><strong>14</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Así que:  ¡VOTEMUS!, pero con el culo (VceC).                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#LewisCarrot" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584361" class="meGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
										<a href="4584361" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584361" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/1CB5C4B8-B041-0839-55FF-48E613DB131F.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">LewisCarrot</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(08:16)
														</span>
							<span class="contadorComentario"><strong>13</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            Podemus me da miedo los deMás me repugnan.                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#LewisCarrot" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584359" class="meGusta"><span class="votos">1</span></a>
									</li>
                                    <li>
										<a href="4584359" class="noMeGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
                                    	<a href="4584359" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                                <li  >                    
					<div class="bloqueComentario">
						<p class="cabeceraComentario">
															<img class="fotoUsuario" src="http://estatico.vozpopuli.com/social/imagenes/Usuarios/1CB5C4B8-B041-0839-55FF-48E613DB131F.jpg/resizeCrop/42/42/imagen.jpg" alt="" />
								        
							<span class="nombreUsuario">LewisCarrot</span>
                                                            <img 
                                    class="medalla" 
                                    src="http://estatico.vozpopuli.com/v2/img/detalle/ico-medalla.png" 
                                    alt="" 
                                    title="Mención especial para lectores con mas de un año de antigüedad en la Comunidad Vozpópuli y sin comentarios ofensivos en los últimos tres meses"
                                />
                                							<span class="fechaComentario">
							03.07.2014 
							(08:14)
														</span>
							<span class="contadorComentario"><strong>12</strong></span>
						</p>
                    						
                        <div class="textoComentario">
                            ¡VOTEMUS!                        </div>
						                     </div>   
					<div class="zonaInteractiva">
                                                    <div class="accionesComentario noValidado">                               
                                <ul>
                                                                    	<li>
                                    	<a href="#LewisCarrot" class="btnResponder">Responder</a>
                                    </li>
                                    <li>
										<a href="4584357" class="meGusta"><span class="votos">2</span></a>
									</li>
                                    <li>
										<a href="4584357" class="noMeGusta"><span class="votos"></span></a>
									</li>
                                    <li>
                                    	<a href="4584357" class="btnOfensivo">Ofensivo</a>
									</li>
                                </ul>
                            </div>
                            <div class="registro">
                                <p>Para poder participar debes estar registrado. <a href="http://social.vozpopuli.com/registro">Regístrate aquí</a></p>
                            </div>
                                                </div>
					
                                    </li>
                        </ul>
        <div class="paginacion">
            <div>
                <span class="paginador"><a href="1/tipo-Noticias" class="paginadorPaginaActual">1</a> <a href="2/tipo-Noticias" class="paginadorPagina2">2</a> <a href="2/tipo-Noticias" class="paginadorSiguiente">siguiente</a> <a href="2/tipo-Noticias" class="paginadorFin">fin</a></span>            </div>
        </div>
    </div>
    
